.dockerignore
.git
.gitattributes
.gitignore
.gitlab-ci.yml
.idea
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.cache
cache
compose.override.dist.yaml
compose.override.yaml
compose.yaml
doc
Dockerfile
files
icon.png
icon.svg
Makefile
phpstan.neon
phpunit.xml
tests
vendor
