.dockerignore
.git
.gitattributes
.gitignore
.gitlab-ci.yml
.idea
.php-cs-fixer.php
compose.override.dist.yaml
compose.override.yaml
compose.yaml
doc
Dockerfile
icon.png
icon.svg
phpstan.neon
phpunit.xml
tests
vendor
