parameters:
	level: 9
	paths:
		- build
		- site/php
		- site/public/index.php
		- src
	excludePaths:
		- build/tmp
	bootstrapFiles:
		- vendor/autoload.php
		- src/main.php
	ignoreErrors:
		- path: src
		  messages:
		      - '#Method .* return type has no value type specified in iterable type array.#'
		      - '#Method .* has parameter .* with no value type specified in iterable type array.#'
