{% extends "@templates/base.twig" %}

{% block content %}

    <h1>Logs</h1>

    <p>Le site log un certain nombre de choses comme les <code>404</code>, les <code>500</code>, etc ...</p>

    <p>Le dossier de log est dans l'option de config <code>path_logs</code> et s'il n'est pas défini on
        utilise le sous dossier <code>logs</code> de l'option <code>path_cache</code></p>

    <p>Une rétention de plusieurs jours est gardée et configurable avec l'option <code>log_max_files</code>.</p>

    <p>On peut choisir le niveau de log avec l'option <code>log_level</code> qui doit avoir une des valeurs suivantes :</p>

    <ul>
        <li><code>debug</code></li>
        <li><code>info</code></li>
        <li><code>notice</code> (par défaut)</li>
        <li><code>warning</code></li>
        <li><code>error</code></li>
        <li><code>critical</code></li>
        <li><code>alert</code></li>
        <li><code>emergency</code></li>
    </ul>

{% endblock %}