RewriteEngine On

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/* M311040000
	ExpiresByType text/css M311040000
	ExpiresByType application/javascript M311040000
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/json
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/javascript
</IfModule>

DirectorySlash Off

FileETag MTime Size
Options -Indexes -MultiViews -ExecCGI +FollowSymLinks +SymLinksIfOwnerMatch

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . index.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L,QSA]
