h1 svg {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

i svg {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

a:hover i svg {
    filter: brightness(.5) saturate(2) contrast(2);
}

.text-info {
    color: var(--accent-hover);
}

.text-warning {
    /*color: var(--marked);*/
    color: #d4a940;
}

.text-error {
    color: var(--code);
}

.text-muted {
    color: var(--disabled);
}

.scope-info {
    font-size: .8rem;
    padding-left: 1.5rem;
    position: relative;
    opacity: .7;
    cursor: default;
}

.scope-info i svg {
    width: .7rem;
    height: .7rem;
    margin-right: 0;
}

.scope-info code {
    font: inherit;
}

p.text-info {
    font-size: 1rem;
    padding-left: 1.5rem;
    position: relative;
}

p.text-info::before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    content: "ℹ️";
}
