{% extends "@internal/error.404.twig" %}

{% block title %}Internal Error{% endblock %}

{% block color_border %}#CC9999{% endblock %}
{% block color_background %}#E3DEEA{% endblock %}
{% block color_eyes %}#660000{% endblock %}
{% block mouth_rotate %}-135deg{% endblock %}
{% block mouth_top %}60%{% endblock %}

{% block body %}
    <p>Ooops, Something is wrong on our side!</p>
{% endblock %}