<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ app.config.name }}</title>
    <link rel="stylesheet" href="{{ asset('/assets/simple.min.css') }}">
    <link rel="stylesheet" href="{{ asset('/assets/style.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('/assets/favicon.svg') }}"/>
</head>
<body>
<header>
    {% include "@templates/header.twig" %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    {% include "@templates/footer.twig" %}
</footer>
</body>
</html>
