<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ app.config.name }}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% include "@templates/navbar.twig" %}
<div class="container mb-5">
    <div class="mt-3 pb-5">
        {% block content %}{% endblock %}
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>
</html>